<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arhur C. Clarke</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Conocé a nuestros héroes y heroínas tecnológicos:
                    <ul>
                        <li><a href="/babbage">Charles Babbage</a></li>
                        <li><a href="/berners-lee">Tim Berners-lee</a></li>
                        <li><a href="/clarke">Arthur C. Clarke</a></li>
                        <li><a href="/hamilton">Margaret Hamilton</a></li>
                        <li><a href="/hopper">Grace Murray Hopper</a></li>
                        <li><a href="/lovelace">Ada Lovelace</a></li>
                        <li><a href="/turing">Alan Turing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Arthur C. Clarke</h1>
        <img class="izquierda" src="img/clarke.jpg" alt="Clarke">
        <p>(Arthur Charles Clarke; Minehead, 1917 - Colombo, Sri Lanka, 2008) Escritor británico, autor de notables novelas y relatos de ciencia ficción en las que destaca la presencia de una cierta reflexión de talante filosófico. Interesado por la ciencia desde niño, no dispuso de recursos para seguir una carrera universitaria. Su participación en la Segunda Guerra Mundial, alistado en la Royal Air Force, le permitió sin embargo entrar en contacto con la nueva tecnología del radar.</p>
        <nav>
            <h3>Indice:</h3>
            <ul>
                <li><a href="#biografia">Biografía</a></li>
                <li><a href="#desarrollo de su carrera">Desarrollo de su carrera</a></li>
            </ul>
        </nav>
    </section>
    <section id="biografia">
        <h2>Biografía</h2>
        <p>Durante la contienda publicó sus primeros relatos sobre la conquista del espacio y, en un artículo aparecido en 1945 y acogido con escepticismo por los especialistas, predijo detalladamente el uso de un sistema de satélites para las telecomunicaciones. En estos primeros años como escritor usó el seudónimo de Charles Willis en tres ocasiones, y una vez el de E. G. O'Brien. Es especialmente conocido por obras como Luz de Tierra (Earthlight, 1955), Una catarata de polvo lunar (A Fall of Moondust, 1961) y Las fuentes del paraíso (The Fountains of Paradise, 1979).</p>
        <p>Sobre la base de uno de sus cuentos cortos, "El centinela" ("The Sentinel", 1951), preparó junto con Stanley Kubrick el guión para el filme de este último 2001: una odisea del espacio, que apareció también como libro en 1968 y del que luego publicó dos secuelas en 1983 y 1988. El relato de Clarke insistía en la aparición de unas mentes superiores que, desde fuera de nuestra galaxia, se hacían indirectamente presentes en la Historia humana.</p>
    </section>
    <section id="desarrollo de su carrera">
        <h2>Desarrollo de su carrera</h2>
        <p>A la vez que empezó a ser reconocido como autor de ciencia ficción, desarrolló un considerable interés por la exploración submarina en Ceilán (la actual Sri Lanka), y relató sus experiencias en este campo en una serie de libros de los que el primero fue La costa de coral (The Coast of Coral, 1956). En 1980 ganó el premio Hugo de novela por Fuentes del paraíso. Poco después, una enfermedad degenerativa del sistema nervioso lo incapacitó para la escritura. Sin embargo, en 1989 publicó Días increíbles: una autobiografía de ciencia-ficción.</p>
        <p>Frente a la prioridad que otorgaron a la aventura los iniciadores del género (Julio Verne, H. G. Wells), Arthur C. Clarke representa, como Isaac Asimov, Stanislaw Lem o Ray Bradbury, una corriente trascendentalista de la ciencia-ficción, en la que se expresa una visible nostalgia de la presencia divina en el cosmos. Otras obras del autor son Odisea tres, Cánticos de la lejana Tierra, 300: odisea final, Cuentos del planeta Tierra, El león de comarre a la caída de la noche y Cita con Rama.</p>
        <p>Arthur C. Clarke es el autor de las tres leyes de Clarke, de las cuales la tercera ley es la más conocida y la más citada. Forman parte de sus ideas en sus extensos escritos sobre el futuro. Estas llamadas leyes son:
        </p>
        <ol>
            <li>Cuando un científico distinguido pero de edad avanzada afirma que algo es posible, es casi seguro que tiene razón. Cuando afirma que algo es imposible, es muy probable que esté equivocado.</li>
            <li>La única forma de descubrir los límites de lo posible es aventurarse un poco más allá de ellos hacia lo imposible.</li>
            <li>Cualquier tecnología lo suficientemente avanzada es indistinguible de la magia.</li>
        </ol>
    </section>
    <footer>
        <p>Todos los derechos reservados</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Conocé a nuestros héroes y heroínas tecnológicos:
                    <ul>
                        <li><a href="/babbage">Charles Babbage</a></li>
                        <li><a href="/berners-lee">Tim Berners-lee</a></li>
                        <li><a href="/clarke">Arthur C. Clarke</a></li>
                        <li><a href="/hamilton">Margaret Hamilton</a></li>
                        <li><a href="/hopper">Grace Murray Hopper</a></li>
                        <li><a href="/lovelace">Ada Lovelace</a></li>
                        <li><a href="/turing">Alan Turing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>