<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Murray Hopper</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Conocé a nuestros héroes y heroínas tecnológicos:
                    <ul>
                        <li><a href="/babbage">Charles Babbage</a></li>
                        <li><a href="/berners-lee">Tim Berners-lee</a></li>
                        <li><a href="/clarke">Arthur C. Clarke</a></li>
                        <li><a href="/hamilton">Margaret Hamilton</a></li>
                        <li><a href="/hopper">Grace Murray Hopper</a></li>
                        <li><a href="/lovelace">Ada Lovelace</a></li>
                        <li><a href="/turing">Alan Turing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Grace Murray Hopper</h1>
        <img class="izquierda" src="img/hopper.jpg" alt="Hooper">
        <p>Grace Murray Hopper (Nueva York 1906-Arlington 1992), matemática y militar estadounidense. Primera programadora que usó el Mark I entre las décadas de los 50 y 60. Destacó por desarrollar el primer compilador en 1952 y los lenguajes de programación Flow-Matic (1957) y COBOL (1959-1961) instalados en UNIVAC, primer ordenador comercial. Considerada la madre del COBOL, era conocida como Amazing Grace.</p>
        <nav>
            <h3>Indice:</h3>
            <ul>
                <li><a href="#biografia">Biografía</a></li>
                <li><a href="#desarrollo de su carrera">Desarrollo de su carrera</a></li>
            </ul>
        </nav>
    </section>
    <section id="biografia">
        <h2>Biografía</h2>
        <p>Grace MURRAY HOPPER nació el 9 de diciembre de 1906 en Nueva York. Bisnieta de Alexander Russell, almirante de la Armada estadounidense, quien fue su referente a lo largo de su vida. Demostró gran aptitud para las ciencias y las matemáticas desde la infancia. A los 10 años le atraía cualquier máquina para desarmarla y comprender su funcionamiento, lo que hizo con todos los relojes de su hogar. Contó con el apoyo de sus padres en el estudio, quienes le dieron las mismas oportunidades que a su hermano. Grace contrajo matrimonio en 1930 con un profesor de la Universidad de Nueva York, Vicent Foster Hopper, de quien se divorció en 1945</p>
        <p>Hopper comenzó sus estudios en matemáticas y física en el Vassar College en Nueva York en 1924. Tras graduarse en 1928, comenzó a impartir clases de matemáticas en el propio Vassar College. Fue becada para estudiar matemáticas en la Universidad de Yale, donde se graduó en 1930 y se doctoró en 1934, siendo la primera mujer que lo conseguía. Trabajó como ayudante en el departamento de matemáticas y física de Vassar College hasta 1943.</p>
        <p>Grace Murray Hopper murió, mientras dormía, el 1º de enero de 1992 en su casa de Arlington (Virginia) a los ochenta y cinco años de edad. Fue enterrada con honores militares.</p>
    </section>
    <section id="desarrollo de su carrera">
        <h2>Desarrollo de su carrera</h2>
        <p>En 1943 y tras el estallido de la Segunda Guerra Mundial se incorporó a las Fuerzas Armadas. Fue a la escuela de cadetes navales para mujeres, donde se graduó con el grado de teniente en 1944. Empezó a trabajar en un proyecto informático, que dirigía el comandante Howard Aiken en Harvard. Juntos construyeron Mark I. Concluida la Segunda Guerra Mundial, Hopper quiso continuar en la Armada, pero superaba en dos años la edad límite, pasando a la reserva. Siguió su carrera como investigadora en Harvard hasta 1949, creando múltiples aplicaciones contables para el Mark I.</p>
        <p>En ese mismo año Hopper comenzó una nueva etapa laboral en la Eckert–Mauchly Corporation en Filadelfia, donde participó en el desarrollo de los ordenadores BINAC y UNIVAC I. En 1950 Eckert–Mauchly Corporation fue comprada por Remington Rand, que a su vez se fusionó con la Sperry Corporation. Hopper creó el primer compilador, A-0, en 1952, y el primer compilador para procesamiento de datos que respondía a comandos en inglés, el B-0; más tarde, en 1957, el compilador conocido como FLOW-MATIC. Grace Hopper permaneció en la compañía hasta 1971.</p>
        <p>La transmisión de órdenes fue la base del FLOW-MATIC, que derivó en la creación de un lenguaje de programación orientado a las aplicaciones empresariales. La idea le permitió crear COBOL (COMMON BUSINESS-ORIENTED LANGUAGE), que se incorporó al mercado como el primer lenguaje con una interfaz fácil, ya que el programador no necesitaba tener formación específica. Además, los programas se podían ejecutar desde diferentes ordenadores sin necesidad de cambios en la programación. Hopper fue miembro de los comités de estandarización de COBOL y FORTRAN.</p>
        <p>En 1966 terminó su etapa de militar en la reserva con el grado de Capitán de fragata. En 1967 fue requerida de nuevo para que trabajara en la estandarización de los lenguajes que usaban por un periodo de seis meses, que acabó siendo indefinido. Decidió retirarse definitivamente en 1971, pero le pidieron continuase su trabajo por un año más. En 1973 Hopper todavía en la Armada fue ascendida a capitán de navío, y diez años más tarde a Contralmirante, retirándose definitivamente en 1986, como la oficial más longeva de la Armada estadounidense.</p>
        <p>Por su capacidad de trabajo y curiosidad, Hopper fue contratada como asesora de la compañía Digital Equipment Corporation, donde fue portavoz de la empresa en conferencias, foros y programas educativos hasta su fallecimiento.</p>
        <p>A lo largo de su intensa vida fue premiada en numerosas ocasiones. Hopper fue distinguida con el curioso título de Hombre del año en Ciencias de la Informática en 1969. Fue la primera mujer considerada miembro distinguido de la British Computer Society en 1973. Una vez jubilada, obtuvo la Medalla de Servicio Distinguido de Defensa en 1986. Logró el Premio Golden Gavel en la convención Toastmasters International en 1988. Le otorgaron la Medalla Nacional de Tecnología en 1991. Desde 1994 se celebra en su honor el Congreso Grace Hopper Celebration of Women in Computing. La Armada estadounidense quiso dar a conocer su nombre por todo el mundo denominando a uno de sus buques de guerra USS Hopper (DDG-70), apodado Amazing Grace, en 1996. Por su parte el Departamento de Energía denominó a su software "Hopper" en 2009. Asimismo Google rindió su particular homenaje a la científica con su doodle en el 107º aniversario de su nacimiento en 2003.</p>
    </section>
    <footer>
        <p>Todos los derechos reservados</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Conocé a nuestros héroes y heroínas tecnológicos:
                    <ul>
                        <li><a href="/babbage">Charles Babbage</a></li>
                        <li><a href="/berners-lee">Tim Berners-lee</a></li>
                        <li><a href="/clarke">Arthur C. Clarke</a></li>
                        <li><a href="/hamilton">Margaret Hamilton</a></li>
                        <li><a href="/hopper">Grace Murray Hopper</a></li>
                        <li><a href="/lovelace">Ada Lovelace</a></li>
                        <li><a href="/turing">Alan Turing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>