<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Conocé a nuestros héroes y heroínas tecnológicos:
                    <ul>
                        <li><a href="/babbage">Charles Babbage</a></li>
                        <li><a href="/berners-lee">Tim Berners-lee</a></li>
                        <li><a href="/clarke">Arthur C. Clarke</a></li>
                        <li><a href="/hamilton">Margaret Hamilton</a></li>
                        <li><a href="/hopper">Grace Murray Hopper</a></li>
                        <li><a href="/lovelace">Ada Lovelace</a></li>
                        <li><a href="/turing">Alan Turing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <style>
        a.lineal{
            display:inline;
        }
    </style>
    <h1>Heroes y heroínas tecnológicos</h1>
    <p>Bienvenidos a este sitio, en el que conoceremos acerca de las personas más influyentes en la historia de la tecnología!</p>
    <a class="lineal" href="/babbage"><img width="320" src="img/babbage.jpg"></a>
    <a class="lineal" href="/berners-lee"><img width="320" src="img/berners-lee.jpg"></a>
    <a class="lineal" href="/clarke"><img width="320" src="img/clarke.jpg"></a>
    <a class="lineal" href="/hamilton"><img width="320" src="img/hamilton.jpg"></a>
    <a class="lineal" href="/hopper"><img width="320" src="img/hopper.jpg"></a>
    <a class="lineal" href="/lovelace"><img width="320" src="img/lovelace.jpg"></a>
    <a class="lineal" href="/turing"><img width="320" src="img/turing.jpg"></a>
    
</body>
</html>