<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Conocé a nuestros héroes y heroínas tecnológicos:
                    <ul>
                        <li><a href="/babbage">Charles Babbage</a></li>
                        <li><a href="/berners-lee">Tim Berners-lee</a></li>
                        <li><a href="/clarke">Arthur C. Clarke</a></li>
                        <li><a href="/hamilton">Margaret Hamilton</a></li>
                        <li><a href="/hopper">Grace Murray Hopper</a></li>
                        <li><a href="/lovelace">Ada Lovelace</a></li>
                        <li><a href="/turing">Alan Turing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Ada Lovelace</h1>
        <img class="izquierda" src="img/lovelace.jpg" alt="Lovelace">
        <p>Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre de 1852), estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.</p>
        <nav>
            <h3>Indice:</h3>
            <ul>
                <li><a href="#biografia">Biografía</a></li>
                <li><a href="#desarrollo de su carrera">Desarrollo de su carrera</a></li>
            </ul>
        </nav>
    </section>
    <section id="biografia">
        <h2>Biografía</h2>
        <p>Ada Augusta Byron nació en Londres en 1815. Era hija de la adinerada Annabella Milbanke y el poeta Lord Byron. El matrimonio no duró mucho y, cuando Ada tenía un mes, su madre abandonó a su esposo. La joven Ada recibió lecciones de matemáticas y ciencia en un intento, por parte de su madre, de erradicar la herencia de locura poética que llevaba en los genes. Su infancia transcurrió entre tutores y estudios, lastrada por una mala salud que arrastraría a lo largo de toda su vida.</p>
        <p>A pesar de que en siglo XIX no era frecuente que las mujeres estudiasen ciencia, Ada tuvo la suerte de contar con grandes maestros, como el matemático Augustus De Morgan o la astrónoma escocesa Mary Somerville. Fue precisamente Sommerville quien le presentó al matemático Charles Babbage, con quien trabó una gran amistad y una fructífera colaboración. En 1835 Ada se casó con el barón William King, que posteriormente se convirtió en conde de Lovelace. Durante su matrimonio siguió estudiando matemáticas. Tras el nacimiento de su tercer y último hijo, Ada comenzó a colaborar con Babbage en la máquina analítica.</p>
        <p>Su pasión por las matemáticas y su personalidad poco convencional no siempre fueron bien vistas en la corte. Se aficionó al juego y en 1851 trató de crear con unos amigos un modelo matemático para acertar en las apuestas. En los últimos años de su vida su salud se deterioró gravemente, hasta que falleció en 1852, poco antes de cumplir 37 años.</p>
    </section>
    <section id="desarrollo de su carrera">
        <h2>Desarrollo de su carrera</h2>
        <h3>El primer programa de ordenador</h3>
        <p>Las Notas fueron etiquetadas alfabéticamente de la A a la G. La nota G estaba dedicada a los números de Bernoulli; en este apartado Ada describe con detalle las operaciones mediante las cuales las tarjetas perforadas "tejerían" una secuencia de números en la máquina analítica. Este código está considerado como el primer algoritmo específicamente diseñado para ser ejecutado por un ordenador, aunque nunca fue probado ya que la máquina nunca llegó a construirse. Pero podemos concluir que la nota G es el algoritmo de Ada, así que a ella se la reconoce como la primera programadora de la historia,16​ la primera persona en describir un lenguaje de programación de carácter general interpretando las ideas de Babbage, pero reconociéndosele la plena autoría y originalidad de sus aportes.</p>
        <p>Las Notas de Ada se publicaron en la revista Scientific Memoirs en septiembre de 1843, con el título de "Sketch of the analytical engine invented by Charles Babbage".17​ Ella firmó con sus iniciales A. A. L., pero pronto se supo a quién correspondían. Su condición femenina perjudicó su trabajo y los científicos no se lo tomaron en serio</p>
        <p>En sus notas, Ada dice que la «máquina analítica» sólo podía dar información disponible que ya era conocida: vio claramente que no podía originar conocimiento. Su trabajo fue olvidado por muchos años, atribuyéndole exclusivamente un papel de transcriptora de las notas de Babbage, cuando en verdad, el trabajo de Lovelace fue, como relata Plant, "mucho más influyente -y tres veces más extenso- que el texto del que se suponía que era meramente accesorio".18​ Este mismo caracterizó su aporte al llamarla su intérprete; sin embargo recientes investigaciones muestran la originalidad de su punto de vista sobre las instrucciones necesarias para el funcionamiento de la «máquina analítica». En efecto, Lovelace "había creado el primer ejemplo de lo que más tarde se conocería como programación de computadoras"18​ y es, por lo tanto, la primera programadora de la historia de la computación</p>
        <p>En 1953, aproximadamente cien años después de su muerte, las notas de Ada sobre la máquina analítica de Babbage fueron publicadas bajo su nombre real, estando ahora reconocida dicha máquina como un modelo temprano de ordenador y las notas de Ada como una descripción de su software.</p>
        <p></p>
        <p></p>
    </section>
    <footer>
        <p>Todos los derechos reservados</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Conocé a nuestros héroes y heroínas tecnológicos:
                    <ul>
                        <li><a href="/babbage">Charles Babbage</a></li>
                        <li><a href="/berners-lee">Tim Berners-lee</a></li>
                        <li><a href="/clarke">Arthur C. Clarke</a></li>
                        <li><a href="/hamilton">Margaret Hamilton</a></li>
                        <li><a href="/hopper">Grace Murray Hopper</a></li>
                        <li><a href="/lovelace">Ada Lovelace</a></li>
                        <li><a href="/turing">Alan Turing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>